<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794716537005-l9pm8a9ugh4rksbrp6tfncpueiktof3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794716537005-l9pm8a9ugh4rksbrp6tfncpueiktof3f</string>
	<key>API_KEY</key>
	<string>AIzaSyC_V-dp56jTh_yqWZsduWl0tY_3bitkKMw</string>
	<key>GCM_SENDER_ID</key>
	<string>794716537005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.julioCesarASantos.BookBunker</string>
	<key>PROJECT_ID</key>
	<string>book-bunker</string>
	<key>STORAGE_BUCKET</key>
	<string>book-bunker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794716537005:ios:357c6db662cf00df444624</string>
	<key>DATABASE_URL</key>
	<string>https://book-bunker.firebaseio.com</string>
</dict>
</plist>